<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="com.kopo.criminaleyes.mapper.IMailListMapper">

    <select id="getMailList" resultType="MailInfoDTO">
        SELECT mail_id, recipient_email, subject, content, sent_at
        from MAIL_INFO
        ORDER BY mail_id desc
    </select>

</mapper>